body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Update the header background color and padding */
.header {
  background-color: #1da1f2;
  color: white;
  padding: 20px 0; /* Increase padding for more space */
}

/* Center the navigation links and give them space */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the header title */
.header h1.logo {
  margin: 0;
  font-size: 24px;
  color: #100f0f;
}

/* Style the navigation links */
.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Align vertically centered */
}

/* Update navigation links to cover the entire header */
.header nav ul li {
  margin-right: 40px;
  flex-grow: 1;
  text-align: center;
}

/* Add more attractive styling to navigation links */
.header nav ul li a {
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth color transition on hover */
  padding: 10px 0; /* Add padding for better touch/click interaction */
  display: block; /* Make the links take the entire width */
}

.header nav ul li a:hover {
  color: #35332a; /* Change color on hover */
}

.footer {
  background-color: #f8f8f8;
  color: #777;
  padding: 10px 0;
  text-align: center;
}

/* ... Rest of the CSS rules ... */

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tweets-section {
  flex: 2;
  padding: 0 20px;
}

.users-section {
  flex: 1;
  padding: 0 20px;
}

.tweets-list,
.users-list {
  list-style: none;
  padding: 0;
}

.tweet,
.user {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.tweet-user,
.user-username {
  display: inline-block;
  vertical-align: middle;
}

.user-username {
  display: inline-block;
  padding: 5px 10px;
  color: #007bff;
  text-decoration: none; /* Remove underlined text decoration */
  cursor: pointer;
}

.tweet-user-image,
.user-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.tweet-content {
  margin-top: 10px;
}

.tweet-actions {
  margin-top: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
